
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Greeting</div>
    <div class="panel-body">
        Hello! My Name is @ViewBag.Name
    </div>
</div>

