
@{
    ViewBag.Title = "Admin";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-panel">
    <ul class="menu">
        <li class="menu-item btn btn-warning">Manage Skills</li>
        <li class="menu-item btn btn-info">Developers</li>
        <li class="menu-item btn btn-info">Managers</li>
    </ul>
    <div class="board">

    </div>
</div>

