@model IEnumerable<ST.Core.Models.Skill>

@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-9 col-md-offset-1">

    <h2>Skills</h2>

    <div class="controls row">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
            </p>
        </div> 
        @using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "skills"
                }
            ))
        {
            <div class="col-md-6">
                @Html.RenderPartial("_SearchByCategory", )
            </div>
        }
    </div>

    @Html.Partial("_Skills", Model)
    
</div>
