@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("Index")" 
      data-otf-ajax="true" data-otf-target="#restaurantList"
      class="form-inline searchForm">

    <input type="search" name="searchTerm" class="form-control"
           data-otf-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" class="btn btn-primary" value="Search By Name" />
</form>

@*@using(Ajax.BeginForm(
            null,
            null,
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "restaurantList"
        },
        new {@class = "form-inline searchForm" }
    ))
{
    <input type="search" name="searchTerm" class="form-control"/>
    <input type="submit" class="btn btn-primary" value="Search By Name" />
}*@

@Html.Partial("_Restaurants", Model)