<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>

    <services>
      <service name="EmailValidatorServiceLib.EmailValidatorService">

        <endpoint address=""
                  binding="netTcpBinding"
                  contract="EmailValidatorServiceLib.IEmailValidator" />

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/EmailValidator"/>
          </baseAddresses>
        </host>
                  
      </service>
    </services>
    
  </system.serviceModel>

</configuration>