@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="">Error</h1>
<div class="alert alert-warning" role="alert">We are working on the problem!</div>
<div class="alert alert-danger" role="alert">@Model.Exception.Message</div>
