<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductContract" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IProductContract" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProductContract" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ProductsService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductContract" contract="ProductsServiceReference.IProductContract"
                name="BasicHttpBinding_IProductContract" />
            <endpoint address="net.tcp://localhost:8081/ProductsService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProductContract"
                contract="ProductsServiceReference.IProductContract" name="NetTcpBinding_IProductContract">
                <identity>
                    <userPrincipalName value="DESKTOP-289OOCR\aperepeliak" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IProductContract"
                contract="ProductsServiceReference.IProductContract" name="NetNamedPipeBinding_IProductContract">
                <identity>
                    <userPrincipalName value="DESKTOP-289OOCR\aperepeliak" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>