<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailValidator" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEmailValidator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EmailValidator" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmailValidator" contract="ServiceReference.IEmailValidator"
                name="BasicHttpBinding_IEmailValidator" />
            <endpoint address="net.tcp://localhost:8099/EmailValidator" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEmailValidator" contract="ServiceReference.IEmailValidator"
                name="NetTcpBinding_IEmailValidator">
                <identity>
                    <userPrincipalName value="DESKTOP-289OOCR\aperepeliak" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>