<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContract" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IContract" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IContract" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Contract" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IContract" contract="ServiceReference1.IContract"
                name="BasicHttpBinding_IContract" />
            <endpoint address="net.tcp://localhost:8081/Contract" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IContract" contract="ServiceReference1.IContract"
                name="NetTcpBinding_IContract">
                <identity>
                    <userPrincipalName value="DESKTOP-289OOCR\aperepeliak" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IContract" contract="ServiceReference1.IContract"
                name="NetNamedPipeBinding_IContract">
                <identity>
                    <userPrincipalName value="DESKTOP-289OOCR\aperepeliak" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>